.container {
  display: flex;
  justify-content: center;
  gap: 1px;
  padding-block: 40px;
  padding-inline: 40px;
  border: 1px dashed lightgray;
  border-radius: 8px;
  width: 150px;
}
.decrement-btn:not(:disabled),
.increment-btn:not(:disabled) {
  cursor: pointer;
}

.decrement {
  background-color: lightgray;
  height: 40px;
  width: 40px;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.increment {
  background-color: lightgray;
  height: 40px;
  width: 40px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.counter {
  display: flex;
  background-color: lightgray;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}
